<!--관리자 페이지-->
<div class="col-md-5">
	<label><em>게시물 목록</em></label>
	{{#each boardList}}
		<div>
			<a href="/school/{{school.id}}">{{school.name}}</a>
			<a href="/admin/school/{{school.id}}/board/new" class="btn btn-default btn-sm buttonGroup">게시글쓰기</a>
			<ul>
				<li><a href="/board/{{id}}">{{title}}</a></li>
				{{content}}
				<button class="btn btn-default btn-sm buttonGroup removeBoard" boardIds={{id}}>삭제</button>
				<div>
				{{{dateFormat updated_at}}}
				 댓글: {{{lengthOf replies}}}
				</div>
			</ul>
		</div>
		
	{{/each}}
</div>

<div class="col-md-4">
	<label><em>프로필 목록</em></label>
	{{#each profileList}}
		<ul>
			<li><a href="/profile/{{id}}">{{name}}</a><button class="btn btn-default btn-sm buttonGroup removeProfile" profileId={{id}}>삭제</button></li>
			{{#each schools}}
				{{school.name}}
			{{/each}}
			<div>
				{{{dateFormat updated_at}}}
			</div>
		</ul>
	{{/each}}
</div>

<div class="col-md-3">
	<label><em>최근가입목록</em></label>
	<ul>
	{{#each userList}}
		<li>{{name}}</li>
		{{#each schools}}
			{{school.name}}
		{{/each}}
		<div>
			{{{dateFormat updated_at}}}
		</div>
	{{/each}}

	</ul>
</div>

{{#section 'head'}}
	<script type="text/javascript" src="/js/templates/templates.js"></script>
{{/section}}

{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/admin.js"></script>
	<script type="text/javascript" src="/js/api/auth.js"></script>
	<script type="text/javascript" src="/js/api/board.js"></script>
	<script type="text/javascript" src="/js/api/school.js"></script>
	<script type="text/javascript" src="/js/api/profile.js"></script>
	<script type="text/javascript" src="/js/controllers/admin/adminController.js"></script>	
{{/section}}
