<header>
	학생위키 - 친구의 정보를 적어주세요<br/>
</header>

<div class="row">
	<div class="col-xs-offset-2">
		<form class="form-horizontal newProfileForm" id="newProfileForm" role="form" action="/api/profile" method="POST">
			<div class="form-group">
				<label for="fieldName" class="col-xs-12 col-sm-2 control-label">* 이름</label>
				<div class="col-xs-9 col-sm-6 col-md-5">
					<input type="text" class="form-control" name="name" id="fieldName" required>
				</div>
			</div>

			<div class="form-group">
				<label for="gender" class="col-xs-12 col-sm-2 control-label">* 성별</label>
				<div class="col-xs-9 col-sm-6 col-md-5">
					<input type="radio" name="gender" value="true" id="gender" checked> 남자
		  			<input type="radio" name="gender" value="false" id="gender"> 여자<br>
				</div>
			</div>

			<div class="form-group">
				<label for="graduation" class="col-xs-12 col-sm-2 control-label">* 고등학교 졸업(예정)년도</label>
				
				<div class="col-xs-9 col-sm-6 col-md-5">
					<select class="form-control" name="graduation" id="graduation">
						<option value="0">졸업년도선택</option>
						{{#iterateFromTo 1990 2020}}
							<option value="{{index}}">{{index}}</option>
						{{/iterateFromTo}}
					</select>
				</div>
			</div>

			<!--newProfile에서 schoolInfo를 확인받아 넘겨 만드는 동적 학교 추가 템플릿 -->
			<input type="hidden" name="schools[0][school]" value="{{schoolInfo.id}}">

			<!-- 학교이름 / input으로 처리하지말것 -->
			<div class="form-group">
				<label for="school" class="col-xs-12 col-sm-2 control-label">* 학교</label>
				<div class="col-xs-9 col-sm-6 col-md-5">
					{{schoolInfo.name}}
				</div>
			</div>

			<hr/>선택▽<br><br>
			<!-- 학교 category가 elementarySchool이면6번 interate 그렇지 않으면 3번 iterate-->
			{{#isEquals schoolInfo.category 'elementary'}}
				{{#forLoop 6}}
				<div class="form-group">
					<label for="class" class="col-xs-12 col-sm-2 control-label">{{index}}학년 학급</label>
					<div class="col-xs-9 col-sm-6 col-md-5">
						<select class="form-control" name="schools[0][class]" id="class">
							{{#iterateFromTo (math index "*" 100) (math (math index "*" 100) "+" 20)}}
								<option value="{{index}}">
									{{#ifDefaultClass index}}
										잘모르겠어요
									{{else}}
										{{../index}}
									{{/ifDefaultClass}}
								</option>
							{{/iterateFromTo}}
						</select>
					</div>
				</div>
				{{/forLoop}}
			{{else}}
				{{#forLoop 3}}
				<div class="form-group">
					<label for="class" class="col-xs-12 col-sm-2 control-label">{{index}}학년 학급</label>
					<div class="col-xs-9 col-sm-6 col-md-5">
						<select class="form-control" name="schools[0][class]" id="class">
							{{#iterateFromTo (math index "*" 100) (math (math index "*" 100) "+" 20)}}
								<option value="{{index}}">
									{{#ifDefaultClass index}}
										잘모르겠어요
									{{else}}
										{{../index}}
									{{/ifDefaultClass}}
								</option>
							{{/iterateFromTo}}
						</select>
					</div>
				</div>
				{{/forLoop}}
			{{/isEquals}}

			<div class="form-group">
				<label for="fieldStory" class="col-xs-12 col-sm-2 control-label">별명</label>
				<div class="col-xs-9 col-sm-6 col-md-5">
					<input type="hidden" name="features[0][user]" value="{{userInfo.id}}">
					<input type="text" class="form-control stories" name="features[0][content]" placeholder="상대가 싫어할 수 있는 별명은 제외해주세요.">
				</div>
			</div>

			<div class="form-group">
				<label for="fieldStory" class="col-xs-12 col-sm-2 control-label">이야기</label>
				<div class="col-xs-9 col-sm-6 col-md-5">
					<input type="hidden" name="stories[0][user]" value="{{userInfo.id}}">
					<textarea class="form-control stories" placeholder="학창시절 이야기나, 관련 일화를 적어주세요" name="stories[0][content]"></textarea>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-3">
					<button type="submit" class="btn btn-default buttonGroup">프로필생성</button>
					<button class="btn btn-default goBack buttonGroup">취소</button>
				</div>
			</div>
		</form>
	</div>
</div>

{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/profile.js"></script>
	<script type="text/javascript" src="/js/controllers/profile/newProfileTwoController.js"></script>
{{/section}}