<p>
	<div>
		<a href="/board/{{id}}">* {{title}}</a>({{{lengthOf replies}}}개의 댓글)
	</div>
		{{{trimString content}}}
	<div>
		{{{dateFormat updated_at}}} - {{writer}}이남김 
	</div>
	<div>
		<a href="/school/{{school._id}}">{{school.name}}</a>
	</div>
	<br />
</p>