<!DOCTYPE html>
<html>
<head>
	<title>스쿨피온</title>
	{{#if showTests}}
		<link rel="stylesheet" type="text/css" href="/vendor/mocha.css">
	{{/if}}
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>
    <!--script src="//developers.kakao.com/sdk/js/kakao.min.js"></script-->

	<script type="text/javascript" src="/vendor/jquery-3.2.1.js"></script>
	<!-- Latest compiled and minified CSS -->
	
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/mainFont.css">
	<!-- Latest compiled and minified JavaScript -->
	
	<!-- Moment라이브러리 For Dateformat-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/ko.js"></script>

	<!-- handlebar library!-->
	<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.0/handlebars.min.js"></script>
	<script type="text/javascript" src="/js/templates/clientHelper.js"></script>

	<!-- utility -->
	<script type="text/javascript" src="/js/controllers/utils/utils.js"></script>

	<!--jQuery Validation Plugin CDN -->
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>


	{{{_sections.head}}}
	<script type="text/javascript" src="/js/templates/templates.js"></script>
</head>
<body>
	<!--페이지 상단 바-->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				
				<a class="navbar-brand" href="/">
				<em>{{#if isLoggedIn}}뉴스피드{{else}}스쿨피온{{/if}}</em>
				</a>
				{{#if isLoggedIn}}
					{{#each userInfo.schools}}
						<a class="navbar-text" href="/school/{{_id}}">{{name}}</a>
					{{else}}
						<span class="navbar-text">학교추가를 해야해요</span>
					{{/each}}
					<a class="navbar-text glyphicon glyphicon-globe btn" id="alarmBtn" href="/alarm"> ({{userInfo.unReadAlarm}}) </a>
				{{/if}}	
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">	
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
				</button>
				
			</div>
			<form class="mainSearchProfileForm navbar-form navbar-left formClass">
				<div class="input-group">
					<input type="text" class="form-control" name="name" placeholder="친구를 검색하고 프로필을 채워주세요!" id="mainProfileName">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">검색!</button>
					</span>
				</div>
			</form>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<form class="mainSearchSchoolForm navbar-form navbar-left formClass" action="/api/school" id="searchSchools">
					<div class="input-group">
						<input type="text" class="form-control" name="name" placeholder="학교명 검색!" id="mainSchoolName">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">검색!</button>
						</span>
					</div>
				</form>
				<ul class="nav navbar-nav navbar-right">
					{{#if isLoggedIn}}
						<li><a class="glyphicon glyphicon-cog" href="/myControll"></a></li>
						{{#if userInfo.profile}}
							<li><a class="glyphicon glyphicon-user" href="/profile/{{userInfo.profile}}"></a></li>
						{{else}}
							<li><a class="glyphicon glyphicon-user" href="/info/5a8fb5e01ed70500042c0a8d"></a><li>
						{{/if}}
						<li><a class="glyphicon glyphicon-info-sign" href="/info"></a></li>
						<li><a href="/logout">로그아웃</a></li>
					{{else}}
						<li><a class="glyphicon glyphicon-info-sign" href="/info"></a></li>
						<li><a href="/" id="loginBtn">로그인</a></li>
						<li><a href="/register?redirect={{urlNow}}" id="registerBtn">회원가입</a></li>
					{{/if}}
				</ul>
			</div>
		</div>
	</nav>
	<div id="mainSearchResult">	
	</div>
	<div id="mainSearchedProfileListTPL"></div>
	<div class="container-fluid">
		<!-- 메인페이지로 이동하는 링크-->
		<div>
			{{#if flash}}
				<div class="alert alert-dismissible alert-{{flash.type}}">
					<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true">&times;</button>
					<strong>{{flash.intro}}</strong> {{{flash.message}}}
				</div>
			{{/if}}
		</div>

		{{#if showTests}}
			<div id="mocha"></div>
			<script type="text/javascript" src="/vendor/mocha.js"></script>
			<script type="text/javascript" src="/vendor/chai.js"></script>
			<script>
				mocha.ui('bdd');
				var expect = chai.expect;
			</script>
			<script type="text/javascript" src="/qa/tests-global.js"></script>
			{{#if pageTestScript}}
				<script type="text/javascript" src="{{pageTestScript}}"></script>
			{{/if}}
			{{#if testAPI}}
				<script type="text/javascript" src="/js/api/customAjax.js"></script>
				<script type="text/javascript" src="/js/api/board.js"></script>
				<script type="text/javascript" src="/js/api/profile.js"></script>
				<script type="text/javascript" src="/js/api/school.js"></script>
			{{/if}}
			<script type="text/javascript">mocha.run();</script>
		{{/if}}

		{{{body}}}

		<!--DOLATER : 제이쿼리 -->
		<script type="text/javascript" src="/js/api/school.js"></script>
		{{{_sections.jquery}}}
		<script type="text/javascript" src="/js/controllers/home/mainController.js"></script>
	</div>
</body>
</html>