<!DOCTYPE html>
<html>
<head>
	<title>스쿨충</title>
	{{#if showTests}}
		<link rel="stylesheet" type="text/css" href="/vendor/mocha.css">
	{{/if}}
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
    
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

	
	<script type="text/javascript" src="/vendor/jquery-3.2.1.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<!-- Latest compiled and minified JavaScript -->
	
	<link rel="stylesheet" type="text/css" href="/css/main.css">

	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<!-- handlebar library!-->
	<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.0/handlebars.min.js"></script>
	<script type="text/javascript" src="/js/templates/clientHelper.js"></script>

	<!-- utility -->
	<script type="text/javascript" src="/js/controllers/utils/utils.js"></script>

	<!--jQuery Validation Plugin CDN -->
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>

	{{{_sections.head}}}
	
</head>
<body>
	<div class="log">
		<div class="dropdown pull-right">
		  <button class="btn btn-default dropdown-toggle buttonGroup" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    메뉴
		    <span class="caret"></span>
		  </button>

		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		    {{#if isLoggedIn}}
				{{#if userInfo.profile}}
					<li><a href="/profile/{{userInfo.profile}}">마이페이지</a></li>
				{{else}}
					<li><a href="/info">아직 회원님은 마이페이지가 없어요(클릭!)</a><li>
				{{/if}}
				<li><a href="/logout">로그아웃</a></li>
			{{else}}
				<li><a href="/login">로그인</a></li>
				<li><a href="/register">회원가입</a></li>
			{{/if}}
			<li><a href="/info">공지사항</a></li>
		  </ul>
		</div>
		<!--{{#if isLoggedIn}}
			{{#if userInfo.profile}}
				<li><a href="/profile/{{userInfo.profile}}">마이페이지</a></li>
			{{else}}
				<a href="/info">아직 회원님은 마이페이지가 없어요(클릭!)</a>
			{{/if}}
			<li><a href="/logout">로그아웃</a></li>
		{{else}}
			<li><span><a href="/login">로그인</a></span></li>
			<li><a href="/register">회원가입</a></li>
		{{/if}}-->
	</div>
	<div class="container">
			<!-- 메인페이지로 이동하는 링크-->
			<div class="img"><a href="/"><em>스쿨충</em></a></div>
			<!-- 로그인 버튼-->
			<div>
				{{#if flash}}
					<div class="alert alert-dismissible alert-{{flash.type}}">
						<button type="button" class="close" data-dismiss="alert"
						aria-hidden="true">&times;</button>
						<strong>{{flash.intro}}</strong> {{{flash.message}}}
					</div>
				{{/if}}
			</div>
			

			{{#if showTests}}
				<div id="mocha"></div>
				<script type="text/javascript" src="/vendor/mocha.js"></script>
				<script type="text/javascript" src="/vendor/chai.js"></script>
				<script>
					mocha.ui('bdd');
					var expect = chai.expect;
				</script>
				<script type="text/javascript" src="/qa/tests-global.js"></script>
				{{#if pageTestScript}}
					<script type="text/javascript" src="{{pageTestScript}}"></script>
				{{/if}}
				{{#if testAPI}}
					<script type="text/javascript" src="/js/api/customAjax.js"></script>
					<script type="text/javascript" src="/js/api/board.js"></script>
					<script type="text/javascript" src="/js/api/profile.js"></script>
					<script type="text/javascript" src="/js/api/school.js"></script>
				{{/if}}
				<script type="text/javascript">mocha.run();</script>
			{{/if}}

			{{{body}}}

			<!--DOLATER : 제이쿼리 -->

			{{{_sections.jquery}}}
			<script type="text/javascript" src="/js/controllers/mainController.js"></script>
			<link rel="stylesheet" type="text/css" href="/css/mainFont.css">
	</div>
</body>
</html>