<link rel="stylesheet" type="text/css" href="/css/board.css">
<header>{{board.title}}</header>
<div class="row">
	<div class="col-md-offset-1 col-md-4">
		<div class="board" id="eachBoard" boardId="{{board.id}}">
			<div class="content">{{{board.content}}}</div>
			<div class="updated_at">{{#dateFormat board.updated_at}}{{/dateFormat}}</div>	
			<div>작성자: {{board.writer}}</div>
		</div>	
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="upBoard btn btn-default buttonGroup" boardId={{board.id}}>+{{board.up}}</button>
			<button type="button" class="downBoard btn btn-default buttonGroup" boardId={{board.id}}>{{board.down}}</button>
			{{#isEquals board.owner userInfo.id}}
				<button class="btn btn-default buttonGroup" id="removeEachBoard">삭제</button>
				<a href="/board/{{board.id}}/update" class="btn btn-default buttonGroup">수정</a>
			{{/isEquals}}
		</div>
	</div>
	<div class="col-md-6">
		<form class="form-horizontal updateReplyForm" role="form" method="PUT" action="/api/board/{{board.id}}">
			<div class="text">
			
				<div class="form-group">
				  <label for="comment">Comment:</label>
				  <textarea class="form-control" rows="3" id="comment"></textarea>
				</div>
				<button type="submit" class="btn btn-default buttonGroup">입력</button>
			</div>
			<div>
				{{#each board.replies}}
					<ul>
						<li>{{{content}}}</li>
					</ul>
				{{/each}}
				<ul id="replyList"></ul>
			</div>
		</form>
	</div>
</div>



{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/board.js"></script>
	<script type="text/javascript" src="/js/controllers/boardController.js"></script>
{{/section}}