<h1>Board Page, This page include board and sorting TODO</h1>


<ul class="boardList">
	{{#each boardList}}
		<a href="/board/{{id}}">
			<li>
			<p>제목: {{title}}</p>
			<p>내용: {{content}}</p>
			<p class="updated_at">updated_at: {{updated_at}}</p>
			</li>
		</a>
	{{/each}}
</ul>

<a href="/school/{{schoolInfo.id}}/board/new" class="btn btn-default">글쓰기</a>

<input type="text" name="title" placeholder="한줄게시판검색..." id="searchQuery"><button class="btn btn-default" id="searchBoards">검색</button>