<header>사용자관리 페이지</header>


<div class="col-md-5">
	<ul>
	{{#each user.schools}}
		<li>{{name}} <button class="btn btn-default btn-sm deleteSchool" schoolId="{{_id}}">삭제</button></li>
	{{else}}
		<li>출신학교가 아직 저장되지 않았어요, 학교를 저장하고 풍성한 스쿨피온을 즐겨보세요</li>
	{{/each}}
	</ul>
	<div class="col-md-offset-3">
		<button class="btn btn-default btn-sm" id="addSchool">학교(초,중,고)추가하기</button>
		<div id="addSchoolTPL"></div>
		<br>
		<button class="btn btn-default btn-sm" id="updatePassword">비밀번호변경하기</button>
		<div id="updatePasswordTPL"></div>
	</div>
</div>






<div class="col-md-offset-5">
	<div class="col-md-4">
		<form class="form-horizontal myControllPageForm" role="form" action="/api/user/{{user.id}}" method="PUT">
			이름: {{user.name}}
			<div class="form-group">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<label>고등학교 졸업(예정)년도</label>
				</div>
				<div class="col-xs-8 col-sm-9 col-md-12">
					<select class="form-control" name="graduation" id="graduation">
						{{#iterateFromTo 1990 2020}}
							<option value="{{index}}" {{#isEquals ../user.graduation index}}selected="selected"{{/isEquals}}>{{index}}</option>
						{{/iterateFromTo}}
					</select>
				</div>
			</div>
			<button type="submit" class="pull-right btn btn-default btn-sm">수정</button>
			<div>
				<p>업:{{user.up}}</p>
				<p>다운:{{user.down}}</p>
			</div>
		</form>
	</div>
	<div class="col-md-5">
		<label>내가 쓴 글</label>
		<div>
			{{#each user.boards}}
				<ul>
					<li><a href="/board/{{id}}">{{title}}</a></li>
				</ul>
			{{/each}}
		</div>
	</div>
</div>




{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/user.js"></script>
	<script type="text/javascript" src="/js/templates/controllers/newsFeedTPLC.js"></script>
	<script type="text/javascript" src="/js/templates/controllers/myControllTPLC.js"></script>
	<script type="text/javascript" src="/js/controllers/myControllController.js"></script>
{{/section}}