<header>사용자관리 페이지</header>

<form class="form-horizontal myControllPageForm" role="form" action="/api/user/{{user.id}}" method="PUT">
	<div class="col-md-offset-2">
		<div class="col-md-5">
			이름: {{user.name}}
			<div class="form-group">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<label>비밀번호 변경</label>
				</div>
				
				<div class="col-xs-8 col-sm-9 col-md-12">
					<input type="password" class="form-control" name="password" id="updatePassword">
				</div>
				
			</div>
			
			<div class="form-group">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<label>고등학교 졸업(예정)년도</label>
				</div>
				
				
				<div class="col-xs-8 col-sm-9 col-md-12">
					<select class="form-control" name="graduation" id="graduation">
						<option value="0">{{user.graduation}}</option>
						{{#iterateFromTo 1990 2020}}
							<option value="{{index}}">{{index}}</option>
						{{/iterateFromTo}}
					</select>
				</div>
			</div>
			<div>
				<p>업:{{user.up}}</p>
				<p>다운:{{user.down}}</p>
			</div>
		</div>
		
		<div class="col-md-6">
			
				<label>내가 쓴 글</label>
				<div>
					{{#each user.boards}}
						{{title}}
						{{content}}
					{{/each}}
				</div>
			
			
		</div>
	</div>
	
	<div class="col-xs-12 col-md-12">	
		<button type="submit" class="pull-right btn btn-default btn-sm buttonGroup">수정</button>
		
	</div>
	<input class="userId" type="hidden" name="userId" value={{user.id}}>
</form>



{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/user.js"></script>
	<script src="/js/controllers/myControllPageController.js"></script>
{{/section}}