{{#if newSchool}}
	<h1>NewSchoolPage It would be better seperated than OnePage</h1>

	<h2>안녕하세요, {{schoolInfo.name}}의 교문을 함께 열어봐요!</h2>

	{{schoolInfo.name}}의 학교페이지를 열려면, {{schoolInfo.name}}학생 데이터 최소 한개가 필요해요. 걱정마세요, 순식간에 끝날거에요.
{{/if}}

<!--NameSpace : NP-->
<h3>프로필생성</h3>

<form class="form-horizontal newProfileForm" id="newProfileForm" role="form" action="/api/profile" method="POST">
	<div class="form-group">
		<label for="fieldName" class="col-sm-2 control-label">이름</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" required name="name" id="fieldName">
		</div>
	</div>
	<div class="form-group">
		<label for="gender" class="col-sm-2 control-label">성별</label>
		<div class="col-sm-4">
			<input type="radio" name="gender" value="true" id="gender" checked> 남자
  			<input type="radio" name="gender" value="false" id="gender"> 여자<br>
		</div>
	</div>
	<div class="form-group">
		<label for="fieldAge" class="col-sm-2 control-label">나이</label>
		<div class="col-sm-2">
			<select name="age" class="form-control" id="fieldAge">
				{{#iterateWithPlus 50 1950}}
					<option value="{{this}}">{{this}}</option>
				{{/iterateWithPlus}}
			</select>
		</div>
	</div>
	<!--DOLATER Hidden -->
	<input type="hidden" name="{{schoolInfo.category}}" value="{{schoolInfo.id}}" schoolName="{{schoolInfo.name}}" newSchool="{{schoolInfo.newSchool}}" id="defaultSchool">
	<div class="form-group">
		<label for="highSchoolField" class="col-sm-2 control-label">고등학교</label>
		<div class="col-sm-2" id="NPsearchHighResult">
			<input class="form-control schoolInput" type="text" name="highSchool" id="highSchoolField" placeholder="입력후 학교확인" value="{{schoolInfo.highSchool}}" {{#if schoolInfo.highSchool}} disabled {{/if}}>
		</div>
		<button class="btn btn-danger col-sm-1 checkSchool" category="highSchool" {{#if schoolInfo.highSchool}} disabled {{/if}}>학교 확인</button>
		<span class="dynamicInput"></span>
	</div>
	<div class="form-group">
		<label for="middleSchoolField" class="col-sm-2 control-label">중학교</label>
		<div class="col-sm-2">
			<input type="text" class="form-control schoolInput" name="middleSchool" id="middleSchoolField" placeholder="입력후 학교확인" value="{{schoolInfo.middleSchool}}" {{#if schoolInfo.middleSchool}} disabled {{/if}}>
		</div>
		<button class="btn btn-danger col-sm-1 checkSchool" category="middleSchool" {{#if schoolInfo.middleSchool}} disabled {{/if}}>학교 확인</button>
		<span class="dynamicInput"></span>
	</div>
	<div class="form-group">
		<label for="elementarySchoolField" class="col-sm-2 control-label">초등학교</label>
		<div class="col-sm-2">
			<input type="text" class="form-control schoolInput" name="elementarySchool" id="elementarySchoolField" placeholder="입력후 학교확인" value="{{schoolInfo.elementarySchool}}" {{#if schoolInfo.elementarySchool}} disabled {{/if}}>
		</div>
		<button class="btn btn-danger col-sm-1 checkSchool" category="elementarySchool" {{#if schoolInfo.elementarySchool}} disabled {{/if}}>학교 확인</button>
		<span class="dynamicInput"></span>
	</div>
	<div class="form-group">
		<label for="fieldFirstClass" class="col-sm-2 control-label">1학년 학급</label>
		<div class="col-sm-4">
			<select name="firstClass" class="form-control" id="fieldFirstClass">
				<option value="100">기억이 잘..</option>
				{{#iterateWithPlus 20 100}}
					<option value="{{this}}">{{this}}</option>
				{{/iterateWithPlus}}
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="fieldSecondClass" class="col-sm-2 control-label">2학년 학급</label>
		<div class="col-sm-4">
			<select name="secondClass" class="form-control" id="fieldSecondClass">
				<option value="100">기억이 잘..</option>
				{{#iterateWithPlus 20 200}}
					<option value="{{this}}">{{this}}</option>
				{{/iterateWithPlus}}
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="fieldThirdClass" class="col-sm-2 control-label">3학년 학급</label>
		<div class="col-sm-4">
			<select name="thirdClass" class="form-control" id="fieldThirdClass">
				<option value="100">기억이 잘..</option>
				{{#iterateWithPlus 20 300}}
					<option value="{{this}}">{{this}}</option>
				{{/iterateWithPlus}}
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="fieldDescription" class="col-sm-2 control-label">내용</label>
		<div class="col-sm-4">
			<textarea class="form-control" required name="title" id="fieldDescription" rows="10" placeholder="학창시절 재밌는 일화, 성격, 특이했던 점, 기억나는 점 등.."></textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-5 col-sm-3">
			<button type="submit" class="btn btn-default">글생성</button>
			<button class="btn btn-default goBack">취소</button>
		</div>
	</div>
</form>


{{#section 'head'}}
	<script type="text/javascript" src="/js/templates/templates.js"></script>
{{/section}}

{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/profile.js"></script>
	<script type="text/javascript" src="/js/api/school.js"></script>
	<script type="text/javascript" src="/js/controllers/newProfileController.js"></script>
{{/section}}


