<!--NameSpace : HM -->
<header>
	스 쿨 피 온
</header>

<!--학교 검색  -->
<div class="col-md-offset-3 col-md-7">
	{{#if userInfo.schools}}
		{{#if (checkBoolean (lengthOf userInfo.schools) "<" 3)}}
			<p>
				현재({{{lengthOf userInfo.schools}}})개의 학교({{#each userInfo.schools}} {{name}} {{/each}})만 입력되었어요! 초,중,고 모두 입력가능해요!
				<button class="btn btn-default btn-sm pull-right" id="addSchool">남은학교추가하기</button>
				<div id="addSchoolTPL"></div>
				<br />
			</p>
		{{/if}}
		{{#each posts}}
			<p>
				<div>
					<a href="/board/{{id}}">* {{title}}</a>({{{lengthOf replies}}}개의 댓글)
				</div>
					{{{trimString content}}}
				<div>
					{{{dateFormat updated_at}}}
				</div>

				<div>
					<a href="/school/{{school._id}}">{{school.name}}</a>
				</div>
				<br />
			</p>
			
		{{else}}

			현재 회원님의 학교 ({{#each userInfo.schools}} <a href="/school/{{id}}">{{name}}(click!) </a>{{/each}})에 아직 첫글이 존재하지 않는것 같아요! 중요한 글이 될 첫 글을 남겨보세요!
			
		{{/each}}
	{{else}}
		아직회원님은 출신학교 정보가 저장되어 있지 않아, 관심글들을 추천해드리기 어려워요.
		<button class="btn btn-sm btn-default" id="addSchool">학교추가하기</button>
		<div id="addSchoolTPL"></div>
	{{/if}}
</div>

{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/user.js"></script>
	<script type="text/javascript" src="/js/api/profile.js"></script>
	<script type="text/javascript" src="/js/templates/controllers/newsFeedTPLC.js"></script>
	<script type="text/javascript" src="/js/controllers/newsFeedController.js"></script>
{{/section}}
