
<!--NameSpace : HM -->
<header>
	스 쿨 충
</header>


<!--학교 검색  -->
<div class="col-md-offset-3 col-md-7">
	
	{{#each posts}}
		<div>
			
			<a href="/board/{{id}}">{{title}}</a>: 
			
		</div>
		{{content}}
		<div>
			{{school.name}}
		</div>
		</br>
	{{else}}

	
		아직회원님은 출신학교 정보가 저장되어 있지 않아, 관심글들을 추천해드리기 어려워요.
		<button class="btn btn-sm btn-default" id="addSchool">학교추가하기</button>
		<div id="addSchoolTPL"></div>
	{{/each}}
	
</div>
{{#each infoList}}
<ul>
	<li><a href="/info/{{id}}">{{title}}</a></li>
</ul>
{{/each}}






{{#section 'head'}}
	<script type="text/javascript" src="/js/templates/templates.js"></script>
	
{{/section}}


{{#section 'jquery'}}
	<script type="text/javascript" src="/js/templates/controllers/newsFeedTPLC.js"></script>
	<script type="text/javascript" src="/js/controllers/newsFeedController.js"></script>
	<script type="text/javascript" src="/js/api/user.js"></script>
	<script type="text/javascript" src="/js/api/school.js"></script>
	<script type="text/javascript" src="/js/api/profile.js"></script>
{{/section}}
