<!--NameSpace: PP -->
<h1>Profile Page, This page include profile and sorting TODO</h1>

<div class="profile">

	충호:<em>{{profile.bugName}}</em> 이름:<em>{{profile.name}}</em>	

	<div id="features"></div>
	<button>특징추가하기</button>

	{{#each profile.schools}}
		학교: {{school.name}}
		{{#each class}}
			학급: {{this}}반
		{{/each}}
	{{/each}}

	<div id="schools"></div>
	<button>학급고치기</button>
		
	<div id="stories"></div>
	<button>관련일화쓰기</button>

	<div id="replies"></div>
	<button>방명록쓰기</button>

	<p class="updated_at">프로필 생성시간:{{profile.updated_at}}</p>	

</div>



<!--
<textarea class="form-control stories" name="stories" rows="10" placeholder="이 학생에 대한 설명, 함께 있었던 일, 일화, 성격, 특징 등" id="newStory"></textarea>

<button class="btn btn-default" id="addStory">이야기추가</button>
-->

<input type="hidden" id="PPdefaultValue" value={{profile.id}} profileId={{profileId}}>

<a class="btn btn-default" href="/profile/{{profile.id}}/update" id="updateProfile">수정</a>
<button class="btn btn-default" id="removeProfile">삭제</button>


{{#section 'head'}}
	<script type="text/javascript" src="/js/templates/templates.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/test.css">
{{/section}}


{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/profile.js"></script>
	<script type="text/javascript" src="/js/controllers/utils.js"></script>
	<script type="text/javascript" src="/js/controllers/profileController.js"></script>
{{/section}}