<h1>Profile Page, This page include profile and sorting TODO</h1>

<div class="profile">
	<p><b>{{profile.name}}</b></p>
	<p>{{profile.highSchool.name}}</p>
	<p>{{profile.middleSchool.name}}</p>
	<p>{{profile.elementarySchool.name}}</p>
	<p>{{profile.description}}</p>
	<p class="updated_at">{{profile.updated_at}}</p>	
</div>



