<!--DOLATER Hidden -->
<input type="hidden" name="id" value="{{schoolInfo.id}}" id="schoolId">

<header>
	{{schoolInfo.name}} <div id="schoolDescription">{{schoolInfo.description}}</div>
</header>
<!-- 소개글 수정 버튼 -->
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" id="updateDescription" class="btn btn-default buttonGroup">소개글수정</button>
  </div>
  <div class="btn-group" role="group">
   <a href="/school/{{schoolInfo.id}}/board/new" class="btn btn-default buttonGroup">게시글쓰기</a>
  </div>
  <div class="btn-group" role="group">
    <a href="/school/{{schoolInfo.id}}/profile" class="btn btn-default buttonGroup">프로필페이지</a>
  </div>
</div>
	

<!--수정버튼을 눌렀을때 수정 form 동적생성을 위한 div -->
<div class="row">
	<div>
		<div id="updateDescriptionTPL"></div>
	</div>	 
</div>


<!--최근게시물 div !-->
<div class="row">
	<div class="col-xs-12 col-md-4">
		<a href="/school/{{schoolInfo.id}}/board"><h2>최근게시물</h2></a>
		<ul class="boardList">
			{{#each recentList}}
				<li>
				<span><a href="/board/{{id}}"><p>{{title}}</p></a></span>
				<p>{{#trimString content}}{{/trimString}}</p>
				</li>
			{{else}}
				<a href="/school/{{schoolInfo.id}}/board/new">아직 학교에 게시물이 없어요! 첫 게시물을 남기고 혜택을 받아보세요!</a>
			{{/each}}
		</ul>
	</div>
	<!--베스트게시물 div !-->
	<div class="col-xs-11 col-md-4">
		<a href="/school/{{schoolInfo.id}}/board"><h2>Best게시물</h2></a>
		<ul class="boardList">
			{{#each bestList}}
				<li>
				<span><a href="/board/{{id}}"><p>{{title}}</p></a></span>
				<p>{{#trimString content}}{{/trimString}}</p>		
				</li>
			{{else}}
				<a href="/school/{{schoolInfo.id}}/board/new">아직 학교에 게시물이 없어요! 첫 게시물을 남기고 혜택을 받아보세요!</a>
			{{/each}}
		</ul>
	</div>
	
	
	<div class="col-xs-11 col-md-4">
		<div class="bottom">
			<h2>친구 검색</h2>
			<form class="searchProfileForm">
				<input type="text" name="name" placeholder="친구이름!!">
				<button class="btn btn-default buttonGroup" type="submit">검색!</button>
			</form>
		</div>
		<!--친구검색결과가 들어갈 TPL -->
		<div id="searchedProfileListTPL"></div>
	</div>	
</div>


<div class="row">
	<div class="col-xs-12">
		<div id="searchResult"></div>
	</div>	
</div>


{{#section 'head'}}
	<script type="text/javascript" src="/js/templates/templates.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/school.css">
{{/section}}

{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/school.js"></script>
	<script type="text/javascript" src="/js/api/profile.js"></script>
	<script type="text/javascript" src="/js/controllers/schoolController.js"></script>
	<script type="text/javascript" src="/js/templates/controllers/schoolTPLC.js"></script>
{{/section}}

	