
<link rel="stylesheet" type="text/css" href="/css/school.css">

<h1>{{schoolInfo.name}}</h1>
<h1>{{schoolInfo.description}}</h1> <button id="updateDescription">학교 소개글 수정</button>


<!--수정버튼을 눌렀을때 수정 form 동적생성을 위한 div -->
<div id="updateDescriptionDiv"></div>

	<!--최근게시물 div !-->
	<div class="left">
		<a href="/school/{{schoolInfo.id}}/board"><h2>최근게시물</h2></a>
		<ul class="boardList">
			{{#each recentList}}
				<li>
				<span><a href="/board/{{id}}"><p>{{title}}</p></a></span>
				
				<p>내용: {{content}}</p>
				<p>추천: {{up}}</p>
				</li>
			{{/each}}
		</ul>
	</div>
	<!--베스트게시물 div !-->
	<div class="right">
		<a href="/school/{{schoolInfo.id}}/board"><h2>Best게시물</h2></a>
		<ul class="boardList">
			{{#each bestList}}
				<li>
				<span><a href="/board/{{id}}"><p>{{title}}</p></a></span>
				
				<p>내용: {{content}}</p>
				<p>추천: {{up}}</p>
				</li>
			{{/each}}
		</ul>
	</div>


<!--글쓰기 버튼 !-->
<div class="middle">
	<a href="/school/{{schoolInfo.id}}/board/new" class="btn btn-primary">글쓰기</a>
</div>
<!--검색 !-->
<div class="bottom">
	<div class="input-append">
		<form class="form-horizontal searchProfileForm" role="form" action="/api/profile" method="GET">
			<input class="span2" id="appendedInputButton" type="text" name="name" placeholder="친구이름.!!">
			<button class="btn btn-primary" type="submit">검색!</button>
		</form>
	</div>
</div>

<!--검색리스트 목록 !-->
<div id="searchResult"></div>

{{#section 'head'}}
	<script type="text/javascript" src="/js/templates/templates.js"></script>
{{/section}}

{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/school.js"></script>
	<script type="text/javascript" src="/js/api/profile.js"></script>
	<script type="text/javascript" src="/js/controllers/schoolController.js"></script>
{{/section}}

