<!-- NameSpace: SB -->
<link rel="stylesheet" type="text/css" href="/css/schoolboard.css">
<header>게시물</header>


<div class="row">
	<div class="col-md-12">
		<div class="col-sm-12 col-md-6">
			<ul class="boardList">
				{{#each boardList}}
						<li>
							<a href="/board/{{id}}">제목: {{title}}</a>
							<p>내용: {{content}}</p>
							<p>추천:{{up}} 비추:{{down}}</p>
							
						</li>
				{{/each}}

			</ul>
		</div>
		<div class="col-xs-offset-1 col-sm-12 col-md-5">
			<form class="form-horizontal searchBoardForm" id="searchBoardForm" role="form" action="/api/board" method="GET">
				<input type="hidden" name="schoolId" value="{{schoolInfo.id}}" id="defaultSchoolId">
				
				<div class="form-group">
					<label for="schoolDetail" class="col-xs-12 col-sm-2 col-md-3 control-label">학교</label>
					<div class="col-sm-9 col-md-9">
						<input type="radio" name="school" value="here" id="schoolDetail" checked>{{schoolInfo.name}}내에서
						<input type="radio" name="school" value="all" id="schoolDetail"> 모든학교에서
					</div>
				</div>

				<div class="form-group">
					<label for="field" class="col-xs-12 col-sm-2 col-md-3 control-label">제목/내용</label>
					<div class="col-sm-9 col-md-9">
						<input type="radio" name="field" value="title" id="field" checked> 제목
						<input type="radio" name="field" value="all" id="field"> 제목 + 본문
					</div>
				</div>

				<div class="form-group">
					<label for="searchField" class="col-xs-12 col-sm-2 col-md-3 control-label">검색내용</label>
					<div class="col-xs-11 col-sm-7 col-md-9">
						<input type="text" class="form-control" name="q" id="searchField" placeholder="검색..." required>
						<button type="submit" class="btn btn-default buttonGroup">검색</button>
					</div>
				</div>
			</form>
			<div id="searchedBoardsTPL"></div>
		</div>
	</div>

	
	
</div>
<div class="bottom">
	<a href="/school/{{schoolInfo.id}}/board/new" class="btn btn-default buttonGroup">글쓰기</a>
</div>

{{#section 'head'}}
	<script type="text/javascript" src="/js/templates/templates.js"></script>
{{/section}}



{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/board.js"></script>
	<script type="text/javascript" src="/js/controllers/schoolBoardController.js"></script>
{{/section}}