<!--DOLATER Hidden -->
<input type="hidden" name="id" value="{{schoolInfo.id}}" id="schoolId">

<link rel="stylesheet" type="text/css" href="/css/school.css">

<header>
	<h1>{{schoolInfo.name}} {{schoolInfo.description}}</h1>
</header>
<div class="col-md-12">
	<button id="updateDescription">학교 소개글 수정</button>
</div>



<!--수정버튼을 눌렀을때 수정 form 동적생성을 위한 div -->

<div id="updateDescription"></div> 

	<!--최근게시물 div !-->
	<div class="row">
		<div class="col-xs-10 col-md-6">
			<a href="/school/{{schoolInfo.id}}/board"><h2>최근게시물</h2></a>
			<ul class="boardList">
				{{#each recentList}}
					<li>
					<span><a href="/board/{{id}}"><p>{{title}}</p></a></span>
					
					<p>내용: {{content}}</p>
					<p>추천: {{up}}</p>
					</li>
				{{/each}}
			</ul>
		</div>
		<!--베스트게시물 div !-->
		<div class="col-xs-10 col-md-6">
			<a href="/school/{{schoolInfo.id}}/board"><h2>Best게시물</h2></a>
			<ul class="boardList">
				{{#each bestList}}
					<li>
					<span><a href="/board/{{id}}"><p>{{title}}</p></a></span>
					
					<p>내용: {{content}}</p>
					<p>추천: {{up}}</p>
					</li>
				{{/each}}
			</ul>
		</div>	
	</div>
	


<!--글쓰기 버튼 !-->
<div class="middle">
	<a href="/school/{{schoolInfo.id}}/board/new" class="btn btn-primary">글쓰기</a>
</div>
<!--검색 !-->

<div class="row">
	<div class="col-md-12">
		<div class="bottom">
			<div>
				<input type="text" name="name" placeholder="친구이름!!">
				<button class="btn btn-primary" type="submit">검색!</button>
			</div>
		</div>
	</div>
</div>
	<!--검색리스트 목록 !-->

<div class="row">
	<div class="col-xs-6">
		<div id="searchResult"></div>
	</div>	
</div>




{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/school.js"></script>
	<script type="text/javascript" src="/js/api/profile.js"></script>
	<script type="text/javascript" src="/js/controllers/schoolController.js"></script>
{{/section}}

