<!--newSchool-->

<h1>NewSchoolPage It would be better seperated than OnePage</h1>

<h2>안녕하세요, {{schoolInfo.name}}의 교문을 함께 열어봐요!</h2>

{{schoolInfo.name}}의 학교페이지를 열려면, {{schoolInfo.name}}학생 데이터 최소 한개가 필요해요. 걱정마세요, 1분이면 끝날거에요.


<!--NameSpace : NP-->
<h3>프로필생성</h3>

<form class="form-horizontal newProfileForm" id="newProfileForm" role="form" action="/api/profile" method="POST">
	<div class="form-group">
		<label for="fieldName" class="col-sm-2 control-label">*이름</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" required name="name" id="fieldName">
		</div>
	</div>
	<div class="form-group">
		<label for="gender" class="col-sm-2 control-label">*성별</label>
		<div class="col-sm-4">
			<input type="radio" name="gender" value="true" id="gender" checked> 남자
  			<input type="radio" name="gender" value="false" id="gender"> 여자<br>
		</div>
	</div>

	<!--DOLATER Hidden -->
	<input type="hidden" name="{{schoolInfo.category}}" value="{{schoolInfo.id}}" schoolName="{{schoolInfo.name}}" id="defaultSchool">
	
	<!--고등학교 추가부분-->
	<div class="highSchoolDiv">
		<div class="form-group">
			<label for="highSchoolField" class="col-sm-2 control-label">고등학교</label>
			<div class="col-sm-2" id="NPsearchHighResult">
				<input class="form-control schoolInput" type="text" id="highSchoolField" placeholder="입력후 학교확인" value="{{schoolInfo.highSchool}}" {{#if schoolInfo.highSchool}} disabled {{/if}}>
			</div>
			<button class="btn btn-danger col-sm-1 checkSchool" category="highSchool" {{#if schoolInfo.highSchool}} disabled {{/if}}>학교 확인</button>
			<span class="dynamicInput"></span>
		</div>

		<!-- 고등학교 반 추가부분 -->
		<div class="highClass">
			{{#forLoop 3}}
			<div class="form-group">
				<label for="fieldHigh{{index}}" class="col-sm-2 control-label">{{index}}학년 학급</label>
				<div class="col-sm-4">
					<select class="form-control" name="highClass" id="fieldHigh{{index}}">
						<option value="{{gradeNumber}}" selected>기억이 잘안나요</option>
						{{#forLoop 20}}
							<option value="{{index}}">{{index}}</option>
						{{/forLoop}}
					</select>
				</div>
			</div>
			{{/forLoop}}
		</div>	
	</div>

	<div class="middleSchoolDiv">
		<div class="form-group">
			<label for="middleSchoolField" class="col-sm-2 control-label">중학교</label>
			<div class="col-sm-2">
				<input type="text" class="form-control schoolInput" id="middleSchoolField" placeholder="입력후 학교확인" value="{{schoolInfo.middleSchool}}" {{#if schoolInfo.middleSchool}} disabled {{/if}}>
			</div>
			<button class="btn btn-danger col-sm-1 checkSchool" category="middleSchool" {{#if schoolInfo.middleSchool}} disabled {{/if}}>학교 확인</button>
			<span class="dynamicInput"></span>
		</div>

		<div class="middleClass">
			{{#forLoop 3}}
			<div class="form-group">
				<label for="fieldMiddle{{index}}" class="col-sm-2 control-label">{{index}}학년 학급</label>
				<div class="col-sm-4">
					<select class="form-control" name="middleClass" id="fieldMiddle{{index}}">
						<option value="{{gradeNumber}}" selected>기억이 잘안나요</option>
						{{#forLoop 20}}
							<option value="{{index}}">{{index}}</option>
						{{/forLoop}}
					</select>
				</div>
			</div>
			{{/forLoop}}
		</div>
	</div>

	<div class="elementarySchoolDiv">
		<div class="form-group">
			<label for="elementarySchoolField" class="col-sm-2 control-label">초등학교</label>
			<div class="col-sm-2">
				<input type="text" class="form-control schoolInput" id="elementarySchoolField" placeholder="입력후 학교확인" value="{{schoolInfo.elementarySchool}}" {{#if schoolInfo.elementarySchool}} disabled {{/if}}>
			</div>
			<button class="btn btn-danger col-sm-1 checkSchool" category="elementarySchool" {{#if schoolInfo.elementarySchool}} disabled {{/if}}>학교 확인</button>
			<span class="dynamicInput"></span>
		</div>
		<div class="elementaryClass">
			{{#forLoop 6}}
			<div class="form-group">
				<label for="fieldElementary{{index}}" class="col-sm-2 control-label">{{index}}학년 학급</label>
				<div class="col-sm-4">
					<select class="form-control" name="elementaryClass" id="fieldElementary{{index}}">
						<option value="{{gradeNumber}}" selected>기억이 잘안나요</option>
						{{#forLoop 20}}
							<option value="{{index}}">{{index}}</option>
						{{/forLoop}}
					</select>
				</div>
			</div>
			{{/forLoop}}
		</div>
	</div>


	<div class="form-group">
		<label for="fieldStory" class="col-sm-2 control-label">관련일화</label>
		<div class="col-sm-4">
			<textarea class="form-control stories" name="stories" rows="20" placeholder="이 학생에 대한 설명, 함께 있었던 일, 일화, 성격, 특징 등" required></textarea>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-5 col-sm-3">
			<button type="submit" class="btn btn-default">글생성</button>
			<button class="btn btn-default goBack">취소</button>
		</div>
	</div>


</form>


{{#section 'head'}}
	<script type="text/javascript" src="/js/templates/templates.js"></script>
{{/section}}

{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/profile.js"></script>
	<script type="text/javascript" src="/js/api/school.js"></script>
	<script type="text/javascript" src="/js/controllers/newSchoolController.js"></script>
{{/section}}






















<!-- newSchool 예전 -->


<h1>NewSchoolPage It would be better seperated than OnePage</h1>

<h2>안녕하세요, {{schoolInfo.name}}의 교문을 함께 열어봐요!</h2>

{{schoolInfo.name}}의 학교페이지를 열려면, {{schoolInfo.name}}학생 데이터 최소 한개가 필요해요. 걱정마세요, 1분이면 끝날거에요.


<!--NameSpace : NP-->
<h3>프로필생성</h3>

<form class="form-horizontal newProfileForm" id="newProfileForm" role="form" action="/api/profile" method="POST">
	<div class="form-group">
		<label for="fieldName" class="col-sm-2 control-label">이름</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" required name="name" id="fieldName">
		</div>
	</div>
	<div class="form-group">
		<label for="gender" class="col-sm-2 control-label">성별</label>
		<div class="col-sm-4">
			<input type="radio" name="gender" value="true" id="gender" checked> 남자
  			<input type="radio" name="gender" value="false" id="gender"> 여자<br>
		</div>
	</div>
	<div class="form-group">
		<label for="fieldAge" class="col-sm-2 control-label">나이</label>
		<div class="col-sm-2">
			<select name="age" class="form-control" id="fieldAge">
				{{#iterateWithPlus 50 1950}}
					<option value="{{this}}">{{this}}</option>
				{{/iterateWithPlus}}
			</select>
		</div>
	</div>
	<!--DOLATER Hidden -->
	<input type="hidden" name="{{schoolInfo.category}}" value="{{schoolInfo.id}}" schoolName="{{schoolInfo.name}}" id="defaultSchool">
	
	<div class="highSchoolDiv">
		<div class="form-group">
			<label for="highSchoolField" class="col-sm-2 control-label">고등학교</label>
			<div class="col-sm-2" id="NPsearchHighResult">
				<input class="form-control schoolInput" type="text" id="highSchoolField" placeholder="입력후 학교확인" value="{{schoolInfo.highSchool}}" {{#if schoolInfo.highSchool}} disabled {{/if}}>
			</div>
			<button class="btn btn-danger col-sm-1 checkSchool" category="highSchool" {{#if schoolInfo.highSchool}} disabled {{/if}}>학교 확인</button>
			<span class="dynamicInput"></span>
		</div>

		<div class="highClass">
			{{#iterateForClass 3 null}}
			<div class="form-group">
				<label for="fieldHigh{{classIndex}}" class="col-sm-2 control-label">{{classIndex}}학년 학급</label>
				<div class="col-sm-4">
					<select class="form-control" name="highClass" id="fieldHigh{{classIndex}}">
						<option value="{{gradeNumber}}" selected>기억이 잘안나요</option>
						{{#iterateWithPlus 20 gradeNumber}}
							<option value="{{this}}">{{this}}</option>
						{{/iterateWithPlus}}
					</select>
				</div>
			</div>
			{{/iterateForClass}}
		</div>
	</div>
	

	<!--
	<div class="middleSchoolDiv">
		<div class="form-group">
			<label for="middleSchoolField" class="col-sm-2 control-label">중학교</label>
			<div class="col-sm-2">
				<input type="text" class="form-control schoolInput" id="middleSchoolField" placeholder="입력후 학교확인" value="{{schoolInfo.middleSchool}}" {{#if schoolInfo.middleSchool}} disabled {{/if}}>
			</div>
			<button class="btn btn-danger col-sm-1 checkSchool" category="middleSchool" {{#if schoolInfo.middleSchool}} disabled {{/if}}>학교 확인</button>
			<span class="dynamicInput"></span>
		</div>

		<div class="middleClass">
			{{#iterateForClass 3 null}}
			<div class="form-group">
				<label for="fieldMiddle{{classIndex}}" class="col-sm-2 control-label">{{classIndex}}학년 학급</label>
				<div class="col-sm-4">
					<select class="form-control" name="middleClass" id="fieldMiddle{{classIndex}}">
						<option value="{{gradeNumber}}" selected>기억이 잘안나요</option>
						{{#iterateWithPlus 20 gradeNumber}}
							<option value="{{this}}">{{this}}</option>
						{{/iterateWithPlus}}
					</select>
				</div>
			</div>
			{{/iterateForClass}}
		</div>
	</div>
	
	<div class="elementarySchoolDiv">
		<div class="form-group">
			<label for="elementarySchoolField" class="col-sm-2 control-label">초등학교</label>
			<div class="col-sm-2">
				<input type="text" class="form-control schoolInput" id="elementarySchoolField" placeholder="입력후 학교확인" value="{{schoolInfo.elementarySchool}}" {{#if schoolInfo.elementarySchool}} disabled {{/if}}>
			</div>
			<button class="btn btn-danger col-sm-1 checkSchool" category="elementarySchool" {{#if schoolInfo.elementarySchool}} disabled {{/if}}>학교 확인</button>
			<span class="dynamicInput"></span>
		</div>
		<div class="elementaryClass">
			{{#iterateForClass 6 null}}
			<div class="form-group">
				<label for="fieldElementary{{classIndex}}" class="col-sm-2 control-label">{{classIndex}}학년 학급</label>
				<div class="col-sm-4">
					<select class="form-control" name="elementaryClass" id="fieldElementary{{classIndex}}">
						<option value="{{gradeNumber}}" selected>기억이 잘안나요</option>
						{{#iterateWithPlus 20 gradeNumber}}
							<option value="{{this}}">{{this}}</option>
						{{/iterateWithPlus}}
					</select>
				</div>
			</div>
			{{/iterateForClass}}
		</div>
	</div>
	-->
	
	<div class="form-group">
		<label for="fieldStory" class="col-sm-2 control-label">이야기</label>
		<div class="col-sm-4">
			<textarea class="form-control stories" name="stories" rows="20" placeholder="이 학생에 대한 설명, 함께 있었던 일, 일화, 성격, 특징 등" required></textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-5 col-sm-3">
			<button type="submit" class="btn btn-default">글생성</button>
			<button class="btn btn-default goBack">취소</button>
		</div>
	</div>


</form>


{{#section 'head'}}
	<script type="text/javascript" src="/js/templates/templates.js"></script>
{{/section}}

{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/profile.js"></script>
	<script type="text/javascript" src="/js/api/school.js"></script>
	<script type="text/javascript" src="/js/controllers/newSchoolController.js"></script>
{{/section}}


