<div class="row">
	<div class="col-md-12">
		<ul class="pagination {{dynamicClass}}">
		    <li class="pagination-prev"><a href="#">&laquo;</a></li>
		    {{#each pages}}
		    	{{#isEquals this "..."}}
		    			<li class="pagination-page" d-page="{{this}}"><a id="preventHrefTag">{{this}}</a></li>
		    		{{else}}
		    			<li class="pagination-page" d-page="{{this}}"><a href="#">{{this}}</a></li>
		    	{{/isEquals}}
		    {{/each}}
		    <li class="pagination-next"><a href="#">&raquo;</a></li>
		</ul>
	</div>
</div>
