<header class="bugName">{{profile.bugName}}</header>

<div class="row">
	<div class="col-md-offset-10">
		
			
	</div>
</div>
<div class="row">
	<div class="col-md-offset-4">
		<span>충호</span>: <em class="bugName">{{profile.bugName}}</em> <span>이름</span>: <em>{{profile.name}}</em>
		{{#each profile.schools}}
			<span>학교</span>: <a class="updateClass" schoolId={{school._id}}>{{school.name}}</a>
			<span>학급</span>:
			{{#each class}}
				 <em>{{this}}반</em>
			{{/each}}
			</br>
		{{/each}}
	</div>
</div>