<header>{{profile.bugName}}</header>

<div class="row">
	<div class="col-md-offset-8">
		<div class="prof">
			<span>충호</span>: <em>{{profile.bugName}}</em> <span>이름</span>: <em>{{profile.name}}</em>
			{{#each profile.schools}}
				<span>학교</span>: <em>{{name}}</em>
				<span>학급</span>:
				{{#each class}}
					 <em>{{this}}반</em>
				{{/each}}
			{{/each}}
		</div>
	</div>
</div>