
{{#if takeProfile}}
<button class="btn btn-lg btn-warning" id="takeProfile" userId={{userInfo.id}}>프로필 차지하기</button>
{{/if}}


<header class="bugName">{{profile.name}}({{profile.graduation}} {{#if profile.gender}}남{{else}}여{{/if}})<a id="kakao-link-btn" href="javascript:;">
<img src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_small.png"/>
</a></header> 

<div class="row">
	<div class="col-md-offset-4">
		
		{{#each profile.schools}}
			<span>학교</span>: <a class="updateClass" schoolId={{school._id}}>{{school.name}}</a> {{#if ../isMyPage}} <button class="manageProfile btn btn-default btn-sm buttonGroup" target="schools" targetId="{{school._id}}">삭제</button> {{/if}}
			<span>학급</span>:
			{{#each class}}
				{{#ifDefaultClass this}}
					<a class="updateClass" schoolId={{../school._id}}>?</a>
				{{else}}
					<a href="/profile/search?school=only&schoolId={{../school._id}}&fields=only&graduation={{../../profile.graduation}}&classNum={{this}}">{{this}}반</a>
				{{/ifDefaultClass}}
			{{/each}}
			</br>
		{{/each}}
	</div>
</div>