<!--프로필페이지에서 학교추가후, 검색시에 나오는 Template. -->
<ul class="schoolList">
	{{#each schoolList}}
		<li>{{name}} ({{location}})</li>
		<button class="sendData btn btn-default btn-sm" schoolId="{{id}}" category="{{category}}" schoolName="{{name}}">확인</button></br>
	{{else}}
		그런학교 없다 ㄹㅇㅠㅠ. 정확한 이름이 필요하다리 ex) 외고(x) 외국어고등학교(o)
	{{/each}}
</ul>
