<ul class="profileList">
	{{#each profileList.profileList}}
		<a href="/profile/{{_id}}">
			<li>
			<p>{{#each schools}}
				{{school.name}}
			{{/each}}</p>
			<p>이름:{{name}} 졸업년도: {{graduation}} {{school.name}}</p>
			</li>
		</a>
	{{/each}}
</ul>