<form class="form-horizontal updateClassForm" role="form" method="PUT" action="/api/profile/{{profileId}}">
	<div class="form-group">

		<div class="col-md-12 col-sm-12">
			<label>{{schoolObj.name}}반 수정</label>
		</div>
		
		{{#indexLoop schoolObj.class}}
			
				<div class="col-xs-12 col-sm-12 col-md-12">
			    	<label for="fieldClass{{index}}">{{index}}학년</label>
			    </div>
			    <div class="col-xs-7 col-sm-7 col-md-7">
			    	<select class= "form-control class" id="fieldClass{{index}}" name="class">
			    		{{#iterateClass element}}
							<option value="{{index}}"{{#if isDefault}} selected="selected"{{/if}}>{{index}}</option>
						{{/iterateClass}}
				    </select>
			    </div>
		
		{{/indexLoop}}
			<input type="hidden" id="updateCategory" value="{{schoolObj.school.category}}" />
		<div class="col-md-12 col-sm-12 col-xs-12">
			<button class="btn btn-default btn-sm buttonGroup" id="updateClassButton">수정</button>
			<button class="btn btn-default btn-sm buttonGroup" id="cancelUpdateClass">취소</button>
		</div>
		
	</div>
	
</form>
	