{{#unless noData}}
	<ul class="profileList">
		{{#each searchedList}}
			<li><a href="/profile/{{id}}"><p>{{bugName}} {{name}} {{#each schools}} {{school.name}} {{/each}} {{graduation}}</p></a></li>
		{{/each}}
	</ul>
	원하는 검색결과가 아직 없다면, 찾으려는 학생의 프로필을 만들어 학생위키 만들기에 동참해주세요!
 <a href="/profile/newOne?school={{schoolId}}" class="btn btn-default">만들기</a>
{{/unless}}


{{#if noData}}
	해당학생은 아직 존재하지 않는것 같아요. 찾으려는 학생의 프로필을 만들어 학생위키 만들기에 동참해주세요!
	<a href="/profile/newOne?school={{schoolId}}" class="btn btn-default">만들기</a>
{{/if}}