{{#unless noData}}
	<ul class="profileList">
		{{#each searchedList}}
			<li><a href="/profile/{{id}}"><p>{{bugName}} {{name}} {{#each schools}} {{school.category}} {{school.name}} {{/each}} {{graduation}}</p></a></li>
		{{/each}}
	</ul>
	원하시는 학생 프로필이 아직 만들어져있지 않으면 마음껏 만들어주세요 <button><a href="/school/{{schoolId}}/profile/newOne">만들기</a></button>
{{/unless}}


{{#if noData}}
	그런학생 아직 없다 만들기 <button><a href="/school/{{schoolId}}/profile/newOne">만들기</a></button>
{{/if}}