<!--classCategory, n이 필요 -->
<!--schoolCategory, schoolId classArray가 필요 -->
<input type="hidden" value="{{schoolId}}" name="{{schoolCategory}}">
<div class="{{classCategory}}">
	{{#iterateForClass n classArray}}
	<div class="form-group">
		<label for="fieldHigh{{classIndex}}" class="col-sm-2 control-label">{{classIndex}}학급</label>
		<div class="col-sm-4">
			<select class="form-control" name="{{../classCategory}}" id="fieldHigh{{classIndex}}">
				<option value="{{gradeNumber}}">기억이 잘안나요</option>
				{{#iterateOptionWithGrade 20 classIndex gradeValue}}
					<option value="{{optionValue}}" {{#if selectedValue}} selected {{/if}}>{{optionValue}}</option>
				{{/iterateOptionWithGrade}}
			</select>
		</div>
	</div>
	{{/iterateForClass}}
</div>